<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Login page</title>
        <meta charset="UTF-8">
  <meta name="description" content="Login page with Spring Web and Spring Security">
  <meta name="keywords" content="Login page Spring Web Spring Security">
  <meta name="author" content="Iskren Petrov">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="container">
    <div tiles:fragment="content">
        <center>
        <form id="contact" name="f" th:action="@{/login}" method="post">

            <img src="/images/userlogin.png" width="40%">
               <p><input type="text" id="username" name="username" placeholder="Username"/></p>
                <p><input type="password" id="password" name="password" placeholder="Password"/></p>
                <div class="form-actions">
                    <button type="submit" class="btn">Login</button>
                </div>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
        </form>
        </center>
    	<div>
 </div>
  </body>
</html>